USE [CloudTech]
GO
/****** Object:  Table [dbo].[Alpha]    Script Date: 24-01-2023 8.12.51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alpha](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[time_period_start] [datetimeoffset](7) NULL,
	[time_period_end] [datetimeoffset](7) NULL,
	[Exact_time_open] [datetimeoffset](7) NULL,
	[Exact_time_close] [datetimeoffset](7) NULL,
	[rate_open] [decimal](8, 2) NULL,
	[rate_high] [decimal](8, 2) NULL,
	[rate_low] [decimal](8, 2) NULL,
	[rate_close] [decimal](8, 2) NULL,
	[Currency] [varchar](3) NULL,
	[AssetName] [varchar](8) NULL,
	[Asset] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alpha] ON 

GO
SET IDENTITY_INSERT [dbo].[Alpha] OFF
GO
